doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 11 msiol
        link(rel="stylesheet", href="../../css/normalize.css")
        link(rel="stylesheet", href="../../sass/style.css") 
    body 
    header.header 
        .header_loge 
            .header_link 
                h2 Home
                h2 Artwork
        .header_loge2
            img(src="../../image/Rectangle 234.png", alt="")
            img(src="../../image/Rectangle 235.png", alt="")
            img(src="../../image/Rectangle 236.png", alt="")
            img(src="../../image/Rectangle 237.png", alt="")
            img(src="../../image/Rectangle 238.png", alt="")
        .header_loge3 
            img(src="../../image/Line 103.png", alt="")
            h2 10%

